{% extends "base.html.twig" %}

{% block body %}
    <div class="addNoteForm">
    <h2>Add a new note</h2></br>
    {{ form(form) }}
    </div>
    <script>
            
        document.getElementById("post_attachment").required = false;
  
    </script>
{% endblock %}